<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="https://datacarpentry.org/geospatial-workshop/setup.html" target="_blank">Install GIS dependencies</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://github.com/NEONScience/NEON-Data-Skills/tree/master/tutorials-in-development/reproducibility-content/messy-directory-example">Organizing your scientific data</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/organization-geospatial/">Introduction to Geospatial Data</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-intro-geospatial/">Introduction to R for Geospatial</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/r-raster-vector-geospatial/">Introduction to Geospatial Raster and Vector continued</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.dc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>
