<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-messy">Messy Data</h3>
    <ul>
      <li><a href="https://de.cyverse.org/dl/d/2F647E6D-87E3-4243-8E42-FBC3CCC7BE46/messy-dir.zip">Download messy-dir.zip file</a></li>
      <li>Files and directory organization</li>
      <li>Naming</li>
      <li>Data organization</li>
      <li>fill here</li>
      <li>fill here</li>
      <li>Finding things</li>
      <li><a href="https://github.com/NEONScience/NEON-Data-Skills/tree/master/tutorials-in-development/reproducibility-content/messy-directory-example">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">GIS in R</h3>
    <ul>
      <li>Introduction to Geospatial Analysis</li>
      <li>Introduction to R and RStudio</li>
      <li>Introduction to Vectors in R</li>
      <li>Introduction to Rasters in R</li>
      <li><a href="https://datacarpentry.org/geospatial-workshop/">Reference...</a></li>
    </ul>
  </div>
</div>
